services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    working_dir: /var/www
    networks:
      - laravel

  web:
    image: nginx:alpine
    container_name: laravel_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_DATABASE: cash_flow
      MYSQL_ROOT_PASSWORD: root_user
      MYSQL_USER: yia
      MYSQL_PASSWORD: yia_user
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel
    
  node:
    image: node:20-alpine
    container_name: laravel_node
    working_dir: /var/www/
    volumes:
      - .:/var/www/
    
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173"

networks:
  laravel:

volumes:
  dbdata:
