/* =========================
   FUNDO GLOBAL
========================= */
.main{
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.rounded-2xl{
  margin-left: -8px !important;
  margin-right: -8px !important;
}

main {
  background-color: #ffffff !important;margin-top:-18rem !important;
}
.text-left, p,h3{
  font-size: 10pt !important;
  margin-top: -12px;
}
html.dark main {
  background-color: #222222 !important;
  color: #808080 !important;
}

/* =========================
   CARDS (SOBRESCREVE bg-white)
========================= */
.bg-white {
  background-color: #f3f4f6 !important;
 border: 1px solid #3333331e !important;

}

html.dark .dark\:bg-\[\#151517\],
html.dark .dark\:bg-\[\#151517\] {
  background-color: #151517 !important;
  color: #808080 !important;
}

html.dark .dark\:bg-\gray-800{
  background-color: #222222 !important;
  border: 1px solid #cccccc3b !important;
}

/* =========================
   TEXTOS
========================= */
.text-gray-900 {
  color: #000000 !important;
}

html.dark .dark\:text-white,
html.dark .dark\:text-gray-100 {
  color: #ffffff !important;
}

.text-gray-500,
.text-gray-700 {
  color: #374151 !important;
}

html.dark .dark\:text-gray-200,
html.dark .dark\:text-gray-400 {
  color: #d1d5db !important;
}

/* =========================
   SVG / GRÁFICO
========================= */
svg text {
  fill: #000000;
}

html.dark svg text {
  fill: #ffffff;
}

html.dark #central {
  fill: #151517 !important;
}

/* =========================
   SOMBRAS
========================= */
.shadow {
  box-shadow: 0 10px 25px rgba(0,0,0,0.06) !important;
}

html.dark .shadow {
  box-shadow: 0 10px 25px rgba(0,0,0,0.45) !important;
}
