.modo{
    background-color: rgba(0, 0, 0, .40) !important;
}

.pesquisa{
    border: none !important;
}


  /* Remove min-height do header para que role junto */
header {
    min-height: auto !important;
}

  /* Topbar rolando com conteúdo */
article {
    position: relative; /* não fixo */
    margin-left: 5rem;  /* largura da sidebar */
}

  /* Ajuste do main */
main {
    margin-left: 5rem;
    padding: 1.5rem;
    margin-top: 0 !important; /* remove top margin que empurra conteúdo */
}


